.DS_Store
__pycache__/
.venv/
dist/
*.egg-info/
python/.python-version
python/.venv/
python/dist/
python/src/rocket_factory_contracts/*_pb2*.py
python/src/rocket_factory_contracts/proto/
python/src/rocket_factory_contracts/__pycache__/
python/src/rocket_factory_contracts/*
.idea/
.vscode/
**/__pycache__/
./bin/